<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
</head>
<body>

<h2>Cars list</h2>
<table border="1">

    <tr>

    <th>Manufactured</th>
    <th>Model</th>
    <th>Engine</th>

</tr>
    <tr th:each ="car : ${cars}">
    <td th:utext="${car.manufacturerName}">...</td>
    <td th:utext="${car.modelName}">...</td>
        <td th:utext="${car.engine}">...</td>

</tr>
</table>
<p><a href="create">Make new car</a></p>
</body>
</html>